<h2>Contact Bethany's Pie Shop</h2>
<p>Click below to send an email.</p>

@* The @ symbol is a special symbol in Razor syntax so we have to escape it. *@
<email Address="info@@bethanyspieshop.com" Content="Contact us"></email>
